@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 16px;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.wrapper {
	background: linear-gradient(180deg, rgba(54, 52, 52, 1) 0%, rgba(0, 0, 0, 1) 100%);
	width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

header {
	padding: 25px 0;
}

header .logo {
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
}

header nav {
	float: right;
	width: 50%;
}

header nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	position: relative;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	color: #fff
}	

header nav ul li.active::after {
	content: '';
	display: block;
	width: 40px;
	height: 5px;
	background: #b00432;
	border-radius: 10px;
}

header nav ul li:not(.active):not(.btn) a:hover {
	border-bottom: 3px solid #fff;
	border-radius: 5px;
}

.hero {
	padding-bottom: 150px;
	position: relative;
	z-index: 1;
}

.hero--info {
	width: 530px;
	padding-top: 120px;
}

.hero--info h1 {
	font-family: 'Archivo Black', sans-serif;
	color: #fff;
	font-size: 28px;
	font-weight: 900;
}

.hero--info	p {
	font-weight: 500;
	line-height: 170%;
	margin: 30px 0;
}

.hero img {
	padding-top: 170px;
	width: 400px; 
	height: auto;
	position: absolute;
	top: -150px;
	right: 0;
}

.hero img:hover {
	transform: scale(1.1);
}
/* ТОП 2026 */
.trending {
	padding-top: 50px
}
.trending h3 {
	font-weight: 900;
	font-size: 30px;
}

.trending .see-all {
	color: #fff;
	background: #25211D;
	border-radius: 15px;
	padding: 12px 20px;
	float: right;
	display: block;
}

.trending .see-all:hover {
	transform: scale(1.1);
}

.trending .anime {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0 50px;

}

.trending .anime span {
	display: block;
	margin-top: 20px;
}

.trending .block {
	transform: scale(0.95);
}

/* ПОДВАЛ САЙТА */

