<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYA - Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- СКРИПТЫ -->
    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
    <header>
      <h2 class="logo">NYA</h2>
    </header>
    <div class="wrapper-box">
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"></span>
            <input type="email" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"></span>
            <input type="password" required>
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Запомнить меня</label>
            <a href="#">Забыл пароль?</a>
          </div>
          <button type="submit" class="btn">Войти</button>
          <div class="login-register">
            <p>Нет аккаунта?<a href="#" class="register-link">Зарегистрироваться</a></p>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
